*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li,a{
    text-decoration: none;
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
body{
    font-family: "Poppins", sans-serif;
}



.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0;
}
.nav-item ul{
    display: flex;
    gap: 30px;

}
.nav-logo h3{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.nav-item ul li a{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}




.banner-wrapper{
    display: flex;
    align-items: center;
    padding: 50px 0 70px 0;
    gap: 133px;
}
.banner-img{
    background: url(../images/Circle\ design.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-text h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
.banner-text p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    margin: 16px 0;
}
.banner-text .btn{
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    border: none;
    color: #ffffff;
}




#brand{
    margin-bottom: 100px;
}

.brand-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.336);
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}

.container-colection{
    max-width: 1047px;
    margin: 0 auto;
}
.card-wrapper{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
}

.collection-wrapper .section-title{
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 30px;
    text-align: center;
}

.cards-inner{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px #0000003b;
    padding: 17px 15px;
}
.cards-inner h1{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #18191F;
}
.cards-inner .price{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}
.cards-inner .info{
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 1.8%;
    color: #787885;
}
.collection-wrapper .seemor-btn {
    margin-top: 50px;
    display: flex;
    justify-content: end;
}
.collection-wrapper .seemor-btn .see-more{
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}




#featured{
    margin: 100px 0;
}

.item-wrapper{
    display: flex;
    gap: 96px;
    align-items: center;
}
.f-info h1{
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 16px;
}
.f-info p{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}


.f-info .btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #ffffff;
}


#footer{
    padding: 50px 0;
    background-color: rgb(0, 0, 56);
    text-align: center;
}

#footer .footer-info h2{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3px;
}
#footer .footer-info p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #D9DBE1;
}
.footer-info .f-icons{
    margin-top: 17px;
    justify-content: center;
    display: flex;
    gap: 16px;
}
.f-icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(173, 173, 173, 0.247);
}
.f-icons a i{
    color: #ffffff;
}



@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
        padding: 0 8px;
    }
    .nav-item ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    }
    #brand {
    margin-bottom: 0px;
    }
    .banner-wrapper {
    flex-direction: column-reverse;
    padding: 22px 10px;
    gap: 25px;
    }
    .banner-img img {
    width: 100%;
    }
    .banner-text{
        text-align: center;
    }
    .banner-text h1{
        font-size: 40px;
    }
    .banner-text .btn {
    font-size: 16px;
    font-weight: 500;
}
    .brand-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    border: none;
    }
    .collection-wrapper{
        padding: 30px;
    }
    .card-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1,1fr);
    }
    .cards-inner img{
        width: 100%;
    }
    .item-wrapper{
        padding: 0 15px;
    }
    .item-wrapper{
        flex-direction: column-reverse;
    }
    .f-info{
        text-align: center;
    }
}